.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}
.athiti-extralight {
  font-family: "Athiti", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.athiti-light {
  font-family: "Athiti", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.athiti-medium {
  font-family: "Athiti", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.athiti-semibold {
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.athiti-bold {
  font-family: "Athiti", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.title{
  align-content:center;
  height:200px;
  animation:fadeIn 4s;
  background-image: url('images/background\ image.png');
  background-repeat: no-repeat;
  background-size: cover;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:grid;
    grid-template-rows: repeat 2fr;
}
.mainContainer{
    display:flex;
    flex-direction:row;
    width:100%;
    color:white;
    height:700px;
    margin-top:10%;
    animation: appearLeft linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  


}
.description{
  padding-right:20px;
  padding-left:20px;
  width:900px;
  align-content: center;
  height:330px;
  background-color: white;
  color:black;
  margin-left:-5%;
  margin-top: 20.8%;
  position:relative;
  z-index:2;
  left:120px;
}
.imageContainer{
  margin-top:10%;
  z-index:1;
}
#titleD{
  margin-top:-3%;
  font-family:athiti;
  font-size:1.3em;
  text-align: justify;
}
#titleImg{
  width:95%;
  margin-right:5%;
  height:500px;
}
.menu{ 
  font-size:1.5em;
  font-family:athiti;
  text-align: justify;
  margin-top:25%;
  margin-bottom:20%;
  display:flex;
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;

}
.menuText{
  padding-right:20px;
  padding-left:20px;
  width:1100px;
  align-content: center;
  height:330px;
  background-color: white;
  color:black;
  margin-top: 11%;
  margin-left:7%;
  position:relative;
  z-index:2;
  right:120px;
}
.menuImg{
  z-index:1;
}
#menuD{
  margin-top:-3%;
}
#menuBtn{
  height:50px;
  width:200px;
  margin-bottom:5%;
  margin-left: 39%;
  font-size:0.8em;
  color:rgb(0, 0, 0);
  background-color: white;
  border:1px solid brown;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.3s;
}
#menuBtn:hover{
  border:1px solid rgb(255, 255, 255);
  box-shadow:inset 300px 0 0 0 black;
  color:white;
  cursor:pointer;
}
#kebab{
  width:100%;
  margin-left:100px;
  height:500px;
}
.reservation{
  margin-top:5%;
  font-size:1.5em;
  font-family:athiti;
  text-align: justify;
  margin-bottom:20%;
  display:flex;
  animation: appearLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
.reservationText{
  padding-right:20px;
  padding-left:20px;
  padding-bottom:50px;
  width:900px;
  align-content: center;
  height:330px;
  background-color: white;
  color:black;
  margin-left:-5%;
  margin-top: 10.8%;
  position:relative;
  z-index:2;
  left:120px;
}
.reservationImg{
  z-index:1;
}
#reservationD{
  margin-top:-3%;
}
#seat{
  width:95%;
  height:500px;
}
#myReservation{
  margin-top:1%;
}
#reservationBtn{
  height:50px;
  width:200px;
  margin-left: 38%;
  font-size:0.8em;
  color:rgb(0, 0, 0);
  background-color: white;
  border:1px solid brown;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.3s;
}
#reservationBtn:hover{
  border:1px solid rgb(255, 255, 255);
  box-shadow:inset 300px 0 0 0 black;
  color:white;
  cursor:pointer;
}
.teamContent{
    background-color: white;
    padding:20px;
    margin-top:5%;
    width:100%;
    height:330px;
    text-align: justify;
    font-size:1.3em;
    color:black;
    font-family:athiti;
    animation: appearBottom linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}
footer{background-color:rgb(41, 41, 41);
      padding: 30px;}
footer p{font-size: 15px;
        color:white;
        font-family:athiti;}
.contact{display: flex;
        justify-content: right;}
.contact img{margin: 0% ;
            padding-left: 20%;
            padding-right: 20%;
            width:100%;
}
nav{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding:20px;
                background-color:rgb(30, 26, 39);
                font-family:athiti;
}
        
nav img {
            height: 50px; 
}
            
.nav-links {
            display: flex;
            gap: 15px;
            font-family:athiti;
}
            
.nav-links a {
                color: white;
                text-decoration: none;
                font-size: 16px;
                padding: 8px 15px;
                border-radius: 5px;
                transition: background-color 0.3s;
}
            
.nav-links a:hover {
                background-color:#555;
}

#subtitle{
  font-family:athiti;
  font-size:2em;
  margin-left:40%;
  color:white;
  animation:fadeIn 9s;
}

#des{
  margin-top:-2%;
  font-size:1.5em;
}
h1{
  margin-top:3%;
  margin-left:25%;
  color:white;
  font-size:4em;
  font-family:crimson-text;
  animation:fadeIn 7s;
}
h2{
    padding-bottom:60px;
    text-align: center;
    font-size:1.8em;
    color:black;
    font-family:crimson-text;
}
h5{
  margin-top: 2%;;
  margin-bottom:40px;
  text-align: center;
  font-size:1.3em;
  font-family:crimson-text;
}

body{
    background-color:rgb(30, 26, 39);
}
#logo {
    height: 500px;  
    width: 100%;
    margin-bottom:200px;  
}
#navLogo{
    height:70px;
}
*,*::after, *::before{
  box-sizing:border-box;
}
.modal{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius:10px;
  z-index:10;
  width:500px;
  height:500px;
  max-width: 80%;
  background-color: white;
  text-align: justify;
  background-image: url('./images/pop\ logo.png');

}
.modal.active{
  transform: translate(-50%, -50%) scale(1);
  opacity:1;
}
#learn-more{
  height:50px;
  width:200px;
  margin-top:5%;
  margin-left: 43%;
  font-size:1em;
  color:rgb(0, 0, 0);
  background-color: white;
  border:1px solid brown;
  box-shadow: inset 0 0 0 0 black;
  transition: ease-out 0.3s;
}
#learn-more:hover{
  border:1px solid rgb(255, 255, 255);
  box-shadow:inset 300px 0 0 0 black;
  color:white;
  cursor:pointer;
}
.modal-header{
  padding: 10px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgb(255, 255, 255);
}
h6{
  width:320px;
  font-size:2em;  
  margin-left:55%;
  color:white;
}
.modal-header .close-button{
  cursor:pointer;
  border:none;
  outline:none;
  background:none;
  font-size:1.25rem;
  font-weight:bold;
}
.modal-body{
  padding:10px 15px;
  width:500px;
}
#modal-description{
  width:500px;

}
#award-title{
  font-family:crimson-text;
  font-size:1.1em;
}
#award-content{
  padding-top:5px;
}
.modal-body li{
  padding-top:15px;
  margin-left:10px;
  font-size:1.2em;
  font-family:athiti;
  color:white
}
#overlay{ 
  position:fixed;
  transition: opacity 200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: (0,0,0,.5);
  pointer-events: none;
}
#overlay.active{
  pointer-events:all;
  opacity:1;
}
.close-button{
  color:white;
}
@keyframes appearLeft{
  from{
    opacity:0;
    transform: translateX(-200px);
  }
  to {
    opacity:1;
    transform: translateX(0px);
  }
}
@keyframes appearRight{
  from{
    opacity:0;
    transform: translateX(200px);
  }
  to {
    opacity:1;
    transform: translateX(0px);
  }
}
@keyframes fadeIn{
  from{
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes appearBottom{
  from{
    opacity:0;
    transform: translateY(-200px);
  }
  to {
    opacity:1;
    transform: translateY(0px);
  }
}
@keyframes appearTop{
  from{
    opacity:0;
    transform: translateY(30px);
  }
  to {
    opacity:1;
    transform: translateY(0px);
  }
}