* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}
main{
  background-image: url("background\ image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  background-color:rgb(30, 26, 39);;
  font-family: athiti;
}


nav img {
  height: 50px; 
}

.nav-links {
  display: flex;
  gap: 15px;
  font-family:athiti;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color:#555;
}
#menu{
  width: 40%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
}
h1{
  color:white;
  font-size:3em;
  font-family:crimson-text;
  text-align: center;
  margin-top: 35px;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
footer{background-color:rgb(41, 41, 41);
  padding: 30px;
}
footer p{
  font-size: 15px;
  color:white;
  font-family:athiti;
  }
.contact{
  display: flex;
  justify-content: right;
  }
.contact img{
  margin: 0% ;
  padding-left: 20%;
  padding-right: 20%;
  width:100%;
}
@media (max-width: 600px) {
    h1 {
      font-size: 2em;
      margin-top: 20px;
    }
  
    footer p {
      font-size: 12px;
    }
  
    .contact {
      justify-content: center;
      flex-direction: row;
      align-items: center;
    }
  
    .contact img {
      padding-left: 0;
      padding-right: 0;
      width: 50px; /* Adjust as needed */
      margin: 10px 0;
    }
  }